@model BookViewModel
@{
    ViewData["Title"] = @Model.Title;
}
<div class="row">
    <div class="col-md-6">
        @if ((string)TempData["success"] == "true")
        {
            <p>@Model.Title Updated Successfully!</p>
        }
    <form asp-action="UpdateBook">
        <div class="form-group">
            <label asp-for="ID"></label>
            <input id="form-id" class="form-control" asp-for="ID"/>
            <span asp-validation-for="ID"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input class="form-control" asp-for="Title"/>
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pages"></label>
            <input class="form-control" asp-for="Pages"/>
            <span asp-validation-for="Pages"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input class="form-control" asp-for="Author"/>
            <span asp-validation-for="Author"></span>
        </div>
        <div class="form-group">
            <label asp-for="YearPublished"></label>
            <input class="form-control" asp-for="YearPublished"/>
            <span asp-validation-for="YearPublished"></span>
        </div>
        <div class="form-group">
            <label asp-for="YearReaded"></label>
            <input id="input-year-readed" class="form-control" asp-for="YearReaded"/>
            <span asp-validation-for="YearReaded"></span>
        </div>
        <div class="form-group">
            <label asp-for="State"></label>
            <select id="select-state" class="browser-default custom-select" asp-for="StateToString" asp-items="Model.States"></select>
        </div>
        <div class="form-group">
            <button id="submit-button" type="submit" class="btn btn-success">Update</button>
            <a class="btn btn-danger" asp-action="DeleteBook" asp-route-id=@Model.ID
            onclick="return confirm('Are you sure you want to delete @Model.Title ?')">Delete</a>
        </div>
    </form>
    </div>
</div>
<script>
    document.getElementById("submit-button").onclick = () => {
        document.getElementById("form-id").value = @Model.ID
        document.getElementsByTagName("form")[0].submit()
    } 
    document.getElementById("select-state").onclick = () => {
        document.getElementById("input-year-readed").disabled = document.getElementById("select-state").value != 'Finished';
    }
    document.getElementById("select-state").value = @Model.StateToString;
    document.getElementById("input-year-readed").click();
</script>